.navbar {
    background-color: #333;
}

.sidenav {
    background-color: #333;
    width: 120px;
    height: 100%;
    position: fixed;
    padding-top: 20px;
}

.sidenav a {
    color: #818181;
    display: block;
    padding: 6px 8px 6px 16px;
    cursor: pointer;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #444;
}

.nav-item a {
    cursor: pointer;
    text-decoration: none;
}

.main {
    margin-left: 120px;
    padding: 0px 10px;
}